body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#heading {
    text-align: center;
    font-size: 50px;
    color:darkmagenta;
}

#page-about {
    font-style: italic;
    text-align: center;
    color: lightgray;
}

#img-container{
    text-align: center;
}

#main-image {
    border-radius: 16px;
    box-shadow: 5px 5px 20px gray;
}

#text-container {
    margin: auto;
    width: 650px;
}

#main-text {
    text-indent: 40px;
    text-align: justify;
}